<!doctype html>
<html>
<head>
 	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="{{root}}/css/semantic.css">
	<script src="{{root}}/js/jquery.min.js"></script>
	<script src="{{root}}/js/semantic.min.js"></script>
	<script src="{{root}}/js/turbolinks.min.js"></script>
<title>Info</title>
</head>

<body>
<div class="application">
<div class="ui left thin visible sidebar vertical menu">
    <a href="{{root}}/home" class="item">
    	<i class="dashboard icon"></i>
  		Dashboard
    </a>
    <a href="{{root}}/reports" class="item">
    	<i class="bar chart icon"></i>
      	Reports
    </a>
    <a href="{{root}}/classes" class="item">
    	<i class="student icon"></i>
      	Classes
    </a>
    <a href="{{root}}/classes" class="item">
    	<i class="user icon"></i>
    	Users
	</a>
	<a href="{{root}}/classes" class="item">
		<i class="cloud upload icon"></i>
		Upload
	</a>
  </div>
  <div class="pusher">
    <div id="hey">
	You are viewing {{page}}
	</div>
  </div>
</div>




</body>
</html>
