    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Upload a .csv file</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

          <label class="btn btn-secondary">
          Browse <input type="file" hidden>
          </label>
          <!--
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          -->
        </div>

        <div class="col-md-6">
          <h2>Create a single entry</h2>
          
          <form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Event</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">Type some things about the event.</small>
			  </div>
          </form>

          <p><a class="btn btn-secondary" href="#" role="button">Enter</a></p>
       </div>
      </div>